.tarjeta{
    padding: 5px;
    max-width: 600px;
}

.row-cols-md-4>* {
    flex: 0 0 auto;
    display: flex;
    width: auto;
    margin-left: 1%;
    left: auto;
    align-items: center;
    justify-content: center;
}

.row{
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .card-size {
        max-width: 93.33%;
        padding: 32px;
    }
    .card-img-top {
        height: 15vw;
        object-fit: cover;
    }
}